<h1>Create a new tweet!</h1>
<form action='/tweets' method='post'>
  <label for='content'>Content: </label><input type='text' name='content' id='content'>
  <input type='submit' value='Submit' id='submit'>
</form>